<footer class="page-footer bg-custom">
    <div class="bg-custom">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-12 text-center">
                    <a href="#"><i class="fa-brands fa-facebook-f text-white mr-4"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter text-white mr-4"></i></a>
                    <a href="#"><i class="fa-brands fa-google text-white mr-4"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram text-white mr-4"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center text-md-left mt-5">
        <div class="row">
            <div class="col-md-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold" style="color: white;">About</h6>
                <hr class="bg-danger mb-4 mt-0 d-inline-block mx-auto" style="width: 65px;
          height: 2px;">
                <ul class="list-unstyled">
                    <li class="my-2"><a href="#">Our Purpose</a></li>
                    <li class="my-2"><a href="#">Careers</a></li>
                    <li class="my-2"><a href="#">Afilliates</a></li>
                    <li class="my-2"><a href="#">Stores</a></li>
                </ul>
            </div>

            <div class="col-md-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold" style="color: white;">Services</h6>
                <hr class="bg-danger mb-4 mt-0 d-inline-block mx-auto" style="width: 85px;
          height: 2px;">
                <ul class="list-unstyled">
                    <li class="my-2"><a href="#">Help</a></li>
                    <li class="my-2"><a href="#">Shipping</a></li>
                    <li class="my-2"><a href="#">Returns</a></li>
                    <li class="my-2"><a href="#">Your Order</a></li>
                </ul>
            </div>


            <div class="col-md-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold" style="color: white;">Useful Links</h6>
                <hr class="bg-danger mb-4 mt-0 d-inline-block mx-auto" style="width: 125px;
          height: 2px;">
                <ul class="list-unstyled">
                    <li class="my-2"><a href="#">Home</a></li>
                    <li class="my-2"><a href="#">Shop</a></li>
                    <li class="my-2"><a href="#">Services</a></li>
                    <li class="my-2"><a href="#">About</a></li>
                </ul>
            </div>

            <div class="col-md-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold" style="color: white;">Contact</h6>
                <hr class="bg-danger mb-4 mt-0 d-inline-block mx-auto" style="width: 85px;
          height: 2px;">
                <ul class="list-unstyled">
                    <li class="my-2"><a href="#">+852 5678 9876</a></li>
                    <li class="my-2"><a href="#">Email Us</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>