{% include 'include/css.html' %}
{% include 'include/js.html' %}
{% include 'include/nav.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<section class="section create">
    {% load widget_tweaks %}
    {% block content %}
    <div class="form-container">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.non_fields_errors }}
            <div class="create-textWrapper">
                <h3 class="create-text" style="font-weight: bold;">Leave Your Comments:</h3>
            </div>
            <div class="fieldWrapper" style="width: 400px; height: 300px;">
                <label for="{{ form.content.id_for_label }}"></label>
                {{ form.content | add_class:"form-control"}}
                {{ form.content.errors }}
            </div>
            <br>
            <div class="btn-container">
                <button type="submit" class="create-btn"> CREATE </button>
                <button type="reset" class="cancel-btn"> <a href="/home/">CANCEL</a></button>
            </div>
        </form>
    </div>
    {% endblock content %}
</section>

{% include 'include/footer.html' %}